In [7]:
import pandas as pd
import numpy as np

In [31]:
data =pd.read_csv("Files/data_v1.csv",index_col = 0)

In [32]:
data.head(5)

,Age,Attrition,Businesstravel,Dailyrate,Department,Distancefromhome,Education,Educationfield,Employeenumber,Environmentsatisfaction,...,Stockoptionlevel,Totalworkingyears,Trainingtimeslastyear,Worklifebalance,Yearsatcompany,Yearsincurrentrole,Yearssincelastpromotion,Yearswithcurrmanager,Datebirth,Remotework
0,51,No,NaN,684.0,NaN,6,3,NaN,162.0,1.0,...,0.0,NaN,5.0,3.0,20.0,NaN,15,15,1972,yes
1,52,No,NaN,699.0,NaN,1,4,life sciences,259.0,3.0,...,1.0,34.0,5.0,3.0,33.0,NaN,11,9,1971,yes
2,42,No,travel_rarely,532.0,research & development,4,2,technical degree,319.0,3.0,...,0.0,22.0,3.0,NaN,22.0,NaN,11,15,1981,yes
3,47,No,travel_rarely,359.0,NaN,2,4,medical,NaN,1.0,...,2.0,NaN,2.0,NaN,20.0,NaN,5,6,1976,no
4,46,No,NaN,1319.0,NaN,3,3,technical degree,NaN,1.0,...,1.0,NaN,5.0,3.0,19.0,NaN,2,8,1977,no

In [33]:
print("Las columnas que contienen nulos o NaN son:\n")
columnas_null_nan = []
for column in data.columns:
    if data[column].isna().any() or data[column].isnull().any():
        print(f"{column} --- {data[column].isna().sum()} nulos")
        columnas_null_nan.append(column)

Las columnas que contienen nulos o NaN son:

Businesstravel --- 768 nulos
Dailyrate --- 123 nulos
Department --- 1305 nulos
Educationfield --- 744 nulos
Employeenumber --- 440 nulos
Environmentsatisfaction --- 21 nulos
Gender --- 21 nulos
Hourlyrate --- 21 nulos
Jobinvolvement --- 21 nulos
Joblevel --- 21 nulos
Jobrole --- 21 nulos
Jobsatisfaction --- 21 nulos
Maritalstatus --- 650 nulos
Monthlyincome --- 840 nulos
Overtime --- 670 nulos
Performancerating --- 195 nulos
Relationshipsatisfaction --- 21 nulos
Standardhours --- 1190 nulos
Stockoptionlevel --- 21 nulos
Totalworkingyears --- 536 nulos
Trainingtimeslastyear --- 21 nulos
Worklifebalance --- 128 nulos
Yearsatcompany --- 21 nulos
Yearsincurrentrole --- 1574 nulos

In [28]:
cat_columns = [column for column in data if data[column].dtype == "O"]
num_columns = [column for column in data if data[column].dtype == "float" or data[column].dtype == "int" ]

In [35]:
cat_columns

['Attrition',
 'Businesstravel',
 'Department',
 'Educationfield',
 'Gender',
 'Jobrole',
 'Maritalstatus',
 'Overtime',
 'Remotework']

In [30]:
num_columns

['Age',
 'Dailyrate',
 'Distancefromhome',
 'Education',
 'Employeenumber',
 'Environmentsatisfaction',
 'Hourlyrate',
 'Jobinvolvement',
 'Joblevel',
 'Jobsatisfaction',
 'Monthlyincome',
 'Monthlyrate',
 'Numcompaniesworked',
 'Percentsalaryhike',
 'Performancerating',
 'Relationshipsatisfaction',
 'Standardhours',
 'Stockoptionlevel',
 'Totalworkingyears',
 'Trainingtimeslastyear',
 'Worklifebalance',
 'Yearsatcompany',
 'Yearsincurrentrole',
 'Yearssincelastpromotion',
 'Yearswithcurrmanager',
 'Datebirth']

In [52]:
cat_count = data['Businesstravel'].value_counts(dropna=False)

In [53]:
cat_count

NaN                  768
travel_rarely        584
travel_frequently    164
non-travel            91
Name: Businesstravel, dtype: int64

In [54]:
total_cat = len(data["Businesstravel"])

print (total_cat)

1607

In [55]:
percent_Businesstravel = (cat_count/total_cat)*100